/* You can add global styles to this file, and also import other style files */
.nav {
    display: block;
    width: 100%;
    font-size: 25pt;
    padding: 25pt 25pt;
    background-color: rgb(106, 42, 165);
  }
  
  .nav a {
    margin-right: 20pt;
  }
  
  body {
    width: 80%;
    margin: auto;
  }
  
  .alert p {
    display: inline-block;
  }
  
  .alert p:nth-child(1) {
    width: 20%;
  }
  
  .alert p:nth-child(2) {
    width: 40%;
  }
  
  .alert p:nth-child(3) {
    width: 20%;
  }
  
  .alert button {
    position: absolute;
    right: 5%;
    width: 20%;
  }